.gif_frames/frame_0_.png
.gif_frames/frame_10_.png
.gif_frames/frame_11_.png
.gif_frames/frame_12_.png
.gif_frames/frame_13_.png
.gif_frames/frame_14_.png
.gif_frames/frame_15_.png
.gif_frames/frame_16_.png
.gif_frames/frame_17_.png
.gif_frames/frame_18_.png
.gif_frames/frame_19_.png
.gif_frames/frame_1_.png
.gif_frames/frame_20_.png
.gif_frames/frame_21_.png
.gif_frames/frame_22_.png
.gif_frames/frame_23_.png
.gif_frames/frame_24_.png
.gif_frames/frame_25_.png
.gif_frames/frame_26_.png
.gif_frames/frame_27_.png
.gif_frames/frame_28_.png
.gif_frames/frame_29_.png
.gif_frames/frame_2_.png
.gif_frames/frame_30_.png
.gif_frames/frame_31_.png
.gif_frames/frame_32_.png
.gif_frames/frame_33_.png
.gif_frames/frame_34_.png
.gif_frames/frame_35_.png
.gif_frames/frame_36_.png
.gif_frames/frame_37_.png
.gif_frames/frame_38_.png
.gif_frames/frame_39_.png
.gif_frames/frame_3_.png
.gif_frames/frame_40_.png
.gif_frames/frame_41_.png
.gif_frames/frame_42_.png
.gif_frames/frame_43_.png
.gif_frames/frame_44_.png
.gif_frames/frame_45_.png
.gif_frames/frame_46_.png
.gif_frames/frame_47_.png
.gif_frames/frame_48_.png
.gif_frames/frame_49_.png
.gif_frames/frame_4_.png
.gif_frames/frame_50_.png
.gif_frames/frame_51_.png
.gif_frames/frame_52_.png
.gif_frames/frame_53_.png
.gif_frames/frame_54_.png
.gif_frames/frame_55_.png
.gif_frames/frame_56_.png
.gif_frames/frame_57_.png
.gif_frames/frame_58_.png
.gif_frames/frame_5_.png
.gif_frames/frame_6_.png
.gif_frames/frame_7_.png
.gif_frames/frame_8_.png
.gif_frames/frame_9_.png
.data/*
.ipynb_checkpoints
